.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 11%); /* 9 עמודות */
    grid-template-rows: repeat(12, 8%; /* 15 שורות */
    padding: 0;
    margon: 0;
}

.grid-item {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    text-align: center;
}
