.grid-container {
    display: flex;
    padding: 0;
    margon: 0;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.grid-item {
    background-color: #f2f2f2;
    width: 43px;
    height: 43px;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
}

img {
    width: 15px;
    height: 15px;
    justify-content: end;
}
